.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #2e2e2e;
}

h2{
    color: #ffffff;
    margin-left: 15rem;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

span{
    flex-grow: 1;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 10px;
    color: white;
}

button{
    padding: 8px;
    cursor: pointer;
    background-color: #216469;
    color: aliceblue;
    border: none;
    border-radius: 4px;
}

.back-to-top-button{
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: aliceblue;
    border:none;
    margin-left: 16rem;

}

input[type="text"]{
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 13rem;
}

.add-task-button{
    padding: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
}